#cuadrado {
	width: 1cm;
	height: 1cm;
	margin-left: 1cm;
}

#botones{
    width: 5cm;
	height: 1cm;
    margin-top: 0%;
}

#boton1{
color: green;
}

#boton2{
color: white;
}

#yoshi{
    width: 1cm;
	height: 1cm;
	margin-left: 0cm;
}

body {
	background-image: url("rick.png");
}
